PORT=3001
POSTGRES_PORT=5432
POSTGRES_DB=readme-account
POSTGRES_USER=admin
POSTGRES_PASSWORD=123456
PGADMIN_PORT=8082
PGADMIN_DEFAULT_EMAIL=admin@localhost.ru
PGADMIN_DEFAULT_PASSWORD=123456
DATABASE_URL=postgresql://admin:123456@localhost:5432/readme-account?schema=public

JWT_ACCESS_TOKEN_SECRET=jH3fdwefjo555
JWT_ACCESS_TOKEN_EXPIRES_IN=5m
JWT_REFRESH_TOKEN_SECRET=secret
JWT_REFRESH_TOKEN_EXPIRES_IN=30d